<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <title>Сыграем?</title>
    </head>
<body>
<center>
<h1>Homo ludens</h1>
    <form action="">
          <label>Какая ваша любимая игра? <input type="text" name="quest"></label><br>
          <input type="submit" value="отправить">
    </form>
    </center>
    </body>
</html>