<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<html lang="en">
<html>
    <head>
       <meta charset="utf-8">
       <title>Test</title>
    </head>
 <body>
 <center>
 <h1>Сыграем?</h1>

 <form action="">
    <p><b>Вышел месяц из тумана... Как в ваших играх называют ведущего?</b></p>
    <input type="radio" name="chosen" value="Голя">Голя (голящий)<br>
    <input type="radio" name="chosen" value="Галя">Галя (галящий)<br>
    <input type="radio" name="chosen" value="Вода">Вода (водящий)<br>
    <input type="radio" name="chosen" value="Вада">Вада (вадящий)<br>
    <input type="radio" name="chosen" value="Ведущий">ведущий он и есть ведущий<br>
 
    <p><b>Камень-ножницы-бумага... А дальше?</b></p>
    <input type="radio" name="cuefa" value="цу-е-фа">Цу-е-фа<br>
    <input type="radio" name="cuefa" value="су-е-фа">Су-е-фа<br>
    <input type="radio" name="cuefa" value="раз-два-три">раз-два-три<br>
    <p><input type="submit"></p>
 </form>
 </center>
 </body>
 </html>